#extension-zigbee2mqtt-adapter-icon{
    display: inline-block;
    width: 3rem;
    height: 2rem;
    background-image: url('../images/menu-icon.svg');
    background-size: contain;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 0;
}

#extension-zigbee2mqtt-adapter-main-page-icon{
	width:3rem;
	display: inline-block;
	vertical-align: bottom;
	margin-right:1rem;
	transition: transform .8s ease-in-out;
}

#extension-zigbee2mqtt-adapter-main-page-icon:hover {
	transform: rotate(180deg);
}

#extension-zigbee2mqtt-adapter-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
	margin: 0 auto;
	display: block;
	padding: 1rem;
	font-size: 1.8rem;
	background-size: 2.8rem;
	background-repeat: no-repeat;
	background-position: 0;
	/*background-image: url('../images/menu-icon.svg');*/
	width:16rem;
	margin:0 auto;
    display:flex;
    align-items:center;
}


/*
#extension-zigbee2mqtt-adapter-title #extension-zigbee2mqtt-adapter-tutorial-button{
	opacity:0;
	cursor:pointer;
	vertical-align: super;
	font-size:60%;
	padding:.5rem;
}
#extension-zigbee2mqtt-adapter-title:hover #extension-zigbee2mqtt-adapter-tutorial-button{
	opacity:1;
}
*/



#extension-zigbee2mqtt-adapter-view button{
	font-size: 1.6rem;
	padding: 1rem;
	border: none;
    cursor:pointer;
}
#extension-zigbee2mqtt-adapter-view button:focus{
	outline: none;
}

#extension-zigbee2mqtt-adapter-view a{
	color:white;
	font-weight:bold;
}

#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-update a{
	color:#999;
}

#extension-zigbee2mqtt-adapter-view p{
    line-height: 2.7rem;
}
    


.extension-zigbee2mqtt-adapter-italic{
	font-style:italic;
}

.extension-zigbee2mqtt-adapter-developer-only{
    display:none;
}

.developer .extension-zigbee2mqtt-adapter-developer-only{
    display:block;
}

/*  DELETE  */


.extension-zigbee2mqtt-adapter-item-delete-button{
	background: url(/images/delete-button.png);
    background-size: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 2px solid #979797;
    cursor: pointer;
	display:inline-block;
	/*
	display:none!important;
    */
	opacity:.5;
}

.extension-zigbee2mqtt-adapter-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border:2px solid red
}


.extension-zigbee2mqtt-adapter-item{
	padding: 0;
	display: flex;
	/*background-color: #46769C;*/
    background-color:rgba(0,0,0,.2);
	border-radius:.5rem;
	margin-top:1rem;
	border-radius: .5rem;
	position: relative;
	width:100%;
}

.extension-zigbee2mqtt-adapter-item{
	margin-top: 4rem;
	min-height: 15rem;
}


.extension-zigbee2mqtt-adapter-item-left{
	margin-bottom: 2rem;
}

.extension-zigbee2mqtt-adapter-item-setter{
	color:white;
	font-size: 1.8rem;
	border-right: 1px solid rgba(255,255,255,.3);
	width:100%;
	padding:2rem;
	overflow: hidden;
	display:flex;
	flex-wrap:wrap;
}
.extension-zigbee2mqtt-adapter-item-right{
	text-align:center;
}


.extension-zigbee2mqtt-adapter-item-menu{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	padding:2rem;
}


#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-limit{
	width: 8rem;
	font-size: 1.8rem;
	padding:.5rem 1rem;
	margin: .5rem;
	background-color: #4d8bb7;
	color:white;
}


.extension-zigbee2mqtt-adapter-item-setter > span{
	display:inline-block;
}


#extension-zigbee2mqtt-adapter-list{
	width:auto;
	display:flex;
	flex-wrap:wrap;
}


#extension-zigbee2mqtt-adapter-original-item{
	opacity:.3;
	display:none;
}


#extension-zigbee2mqtt-adapter-view select{
	display: inline-block;
	font-size: 1.8rem;
	color:white;
	line-height: 1.3;
	padding:.5rem 1rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin: .5rem;
	border: none;
	background-color: #4d8bb7;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(/images/select-arrow.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: calc(100% - 1rem);
	padding-right: 3.5rem;
}

#main-menu #extension-zigbee2mqtt-adapter-menu-item {
	background-image: url('../images/menu-icon.svg');
}

#extension-zigbee2mqtt-adapter-view {
	height: calc(100vh - 8rem); /*calc(100% - 7.6rem);*/
	box-sizing: border-box;
	overflow: auto;
	position: absolute;
    top: 8rem;
	left: 0;
	padding: 2rem;
}


#extension-zigbee2mqtt-adapter-content {
	display:flex;
	flex-direction: column;
	/*overflow: auto;
	position: relative;*/
	text-align: left;
	font-size: 1.6rem;
	color: #fff;
	height:auto;
    max-width: 100rem;
    margin: 0 auto;
}

#extension-zigbee2mqtt-adapter-content img{
	max-width:100%;
}

.extension-zigbee2mqtt-adapter-response-data{
	text-align:center;
}



/*  TABS  */


.extension-zigbee2mqtt-adapter-tab-buttons{
	background-color: rgba(255,255,255,.1);
	border-radius: .7rem;
	overflow: hidden;
	font-size:0;
    width: fit-content;
    margin: 4rem auto 2rem auto;
    display: block;
}

#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-tab-buttons button{
	background-color: transparent;
	border-right: 1px solid rgba(0,0,0,.05);
	color: #eee;
	cursor:pointer;
	font-size:1.8rem;
    margin:0;
}
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-tab-buttons button:last-child{
	float:right;
}

#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-tab-buttons button:hover{
	background-color: rgba(0,0,0,0.1);
	color:white;
}

#extension-zigbee2mqtt-adapter-tabs-container{
    margin-top:2rem;
}

#extension-zigbee2mqtt-adapter-tabs-container > div{
	display:none;
}

#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-things #extension-zigbee2mqtt-adapter-tab-button-things,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-button-map,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-security #extension-zigbee2mqtt-adapter-tab-button-security,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-button-tutorial{
	color: white;
    background-color: rgba(0,0,0,0.18);
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-things #extension-zigbee2mqtt-adapter-tab-things,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-map,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-security #extension-zigbee2mqtt-adapter-tab-security,
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-tutorial{
	display:block;
}
/*
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-button-map{
	color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #5d9bc7;
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-map{
	display:block;
}

#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-button-tutorial{
	color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #5d9bc7;
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-tutorial{
	display:block;
}
*/

.extension-zigbee2mqtt-adapter-vlak{
    background-color:rgba(0,0,0,.2);
    padding:2rem;
    border-radius:.5rem;
    margin-bottom:2rem;
}

.extension-zigbee2mqtt-adapter-read-about-risks{
	cursor:pointer;
	text-decoration:underline;
}
.extension-zigbee2mqtt-adapter-read-about-risks:hover{
	text-decoration:underline;
}


/*   GRAPHVIZ  */

#extension-zigbee2mqtt-adapter-graphviz-container{
	width:100%;
	box-sizing:border-box;
	margin-top:4rem;
	margin-bottom:2rem;
	overflow-x: auto;
	text-align:center;
}
#extension-zigbee2mqtt-adapter-graphviz-container > svg{
	border:1rem solid white;
    box-sizing:border-box;
    width:100%;
    height:auto;
    border-radius:.5rem;
}

#extension-zigbee2mqtt-adapter-graphviz-container > svg text{
    font-family:sans-serif;
    letter-spacing: -.5px;
}

#extension-zigbee2mqtt-adapter-graphviz-container #extension-zigbee2mqtt-adapter-network-map-icon{
    max-width:25%;
    margin-top:4rem;
}



/*  list items  */

.extension-zigbee2mqtt-adapter-description{
	width:100%;
	min-width: 10rem;
}

.extension-zigbee2mqtt-adapter-description a{
	text-decoration:none;
	font-size:2.4rem;
}



.extension-zigbee2mqtt-adapter-item-title{
    display:block;
}

.extension-zigbee2mqtt-adapter-item-description{
    display:block;
    opacity:.6;
    padding: .5rem 0;
}


/*  list item overlays */
#extension-zigbee2mqtt-adapter-view .rule-edit-overlay{
	left: 0;
	top: 0;
	border-radius:.5rem;
	display:none;
	height:100%;
	font-size:1.8rem;
}



#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-delete .rule-edit-overlay.extension-zigbee2mqtt-adapter-delete,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-delete .rule-edit-overlay.extension-zigbee2mqtt-adapter-delete .rule-delete-dialog,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-update .rule-edit-overlay.extension-zigbee2mqtt-adapter-update,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-update .rule-edit-overlay.extension-zigbee2mqtt-adapter-update .rule-delete-dialog,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-updating .rule-edit-overlay.extension-zigbee2mqtt-adapter-updating,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.extension-zigbee2mqtt-adapter-updating .rule-edit-overlay.extension-zigbee2mqtt-adapter-updating .rule-delete-dialog{
	display:block;
	opacity:100;
}





.extension-zigbee2mqtt-adapter-hidden{
    display:none;
}

/*  updating  */
.extension-zigbee2mqtt-adapter-updating-text-container{
	display:flex;
	align-items:center;
}

.extension-zigbee2mqtt-adapter-update-spinner{
	width: 3.2rem;
	height: 3.2rem;
	padding-right:1rem;
}


.extension-zigbee2mqtt-adapter-overlay.extension-zigbee2mqtt-adapter-updating{
	background-color:#ff5e00;	
}


/*  page  */

.extension-zigbee2mqtt-adapter-centered-error,
.extension-zigbee2mqtt-adapter-centered-page{
	padding:2rem;
	max-width:60rem;
	margin: 4rem auto;
}

.extension-zigbee2mqtt-adapter-centered-error{
	text-align:center;
}



.extension-zigbee2mqtt-adapter-line1{
	display:flex;
	flex-wrap:wrap;
	align-items:start;
	width:100%;
}


.extension-zigbee2mqtt-adapter-line2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
}

.extension-zigbee2mqtt-adapter-line2 > div{
	width:100%;
}



/*  update progress bar  */

.extension-zigbee2mqtt-adapter-update-progress-bar-container{
	background-color: rgba(0,0,0,.2);
    line-height:0;
    border-radius: 1.5rem;
    overflow: hidden;
    position:relative;
}

.extension-zigbee2mqtt-adapter-update-progress-bar{
    background-color:orange;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    width:0;
    height:0;
}

.extension-zigbee2mqtt-adapter-updating .extension-zigbee2mqtt-adapter-update-progress-bar{
	transition: width 3s linear;
	width:0;
    height:3rem;
}

/*
.extension-zigbee2mqtt-adapter-update-progress-bar-percentage{
    display:none;
}
*/

.extension-zigbee2mqtt-adapter-updating .extension-zigbee2mqtt-adapter-update-progress-bar-percentage{
    position:absolute;
    top:50%;
    left:1rem;
}



/*  ICONS  */

.extension-zigbee2mqtt-adapter-icon{
	width:8rem;
	margin-right:2rem;
	margin-bottom:0rem;
	flex-shrink: 0;
	min-width:8rem;
	box-sizing:border-box;
    overflow:hidden;
}

.extension-zigbee2mqtt-adapter-icon > div{
	display: inline-block;
	padding: .7rem;
	font-size: 1.4rem;
	font-weight: bolder;
    margin-bottom:1rem;
}

.extension-zigbee2mqtt-adapter-icon-ikea{
	color:blue;
	background-color: yellow;
}
.extension-zigbee2mqtt-adapter-icon-mi{
	color:white;
	background-color: orange;
}
.extension-zigbee2mqtt-adapter-icon-bitron{
	color:white;
	background-color: blue;
}
.extension-zigbee2mqtt-adapter-icon-tuya{
	color:white;
	background-color: orange;
}
.extension-zigbee2mqtt-adapter-icon-yale{
	color:black;
	background-color: yellow;
}
.extension-zigbee2mqtt-adapter-icon-philips{
	color:blue;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-lidl{
	color:blue;
	background-color: yellow;
	border:2px solid red;
}
.extension-zigbee2mqtt-adapter-icon-legrand{
	color:red;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-innr{
	color:DeepPink;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-immax{
	color:white;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
.extension-zigbee2mqtt-adapter-icon-hornbach{
	color:white;
	background-color: orange;
	-webkit-text-stroke: 1.2px black;
}
.extension-zigbee2mqtt-adapter-icon-ge{
	color:blue;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-ecosmart{
	color:white;
	background-color: DeepSkyBlue;
}
.extension-zigbee2mqtt-adapter-icon-gledopto{
	color:black;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-develco{
	color:#999;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-centralite{
	color:DeepSkyBlue;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-aurora{
	color:Navy;
	background-color: white;
}

.extension-zigbee2mqtt-adapter-icon-heiman{
	color:#b9bec1;
	background-color: white;
}
.extension-zigbee2mqtt-adapter-icon-ewelink{
	color:white;
	background-color: #0098dd;
}



.extension-zigbee2mqtt-adapter-spinner{
	margin: 4rem 2rem 2rem 2rem;
	width: 3.2rem;
	height: 3.2rem;
}
.extension-zigbee2mqtt-adapter-spinner img{
	width: 3.2rem;
	height: 3.2rem;
}

#extension-zigbee2mqtt-adapter-loading{
	text-align:center;
	padding:2rem;
}


#extension-zigbee2mqtt-adapter-debug-warning{
    max-width:60rem;
    margin:2rem auto;
    padding:2rem;
    background-color:red;
    color:white;
    border-radius:.5rem;
}


#extension-zigbee2mqtt-adapter-usb-port-issue-hint,
#extension-zigbee2mqtt-adapter-serial-hint{
    max-width:60rem;
    margin:10rem auto;
    padding:2rem;
    background-color:rgba(0,0,0,.2);
    text-align:center;
    color:white;
    border-radius:.5rem;
}

#extension-zigbee2mqtt-adapter-usb-port-issue-hint{
    background-color:red;
}



/*  ADVANCED  */

#extension-zigbee2mqtt-adapter-reinstall-button,
#extension-zigbee2mqtt-adapter-save-security-button{
    display:block;
    margin-left:auto;
}







/*  spinner  */


.extension-zigbee2mqtt-adapter-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.extension-zigbee2mqtt-adapter-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.extension-zigbee2mqtt-adapter-spinner div:nth-child(1) {
  left: 8px;
  animation: extension-zigbee2mqtt-adapter-spinner1 0.6s infinite;
}
.extension-zigbee2mqtt-adapter-spinner div:nth-child(2) {
  left: 8px;
  animation: extension-zigbee2mqtt-adapter-spinner2 0.6s infinite;
}
.extension-zigbee2mqtt-adapter-spinner div:nth-child(3) {
  left: 32px;
  animation: extension-zigbee2mqtt-adapter-spinner2 0.6s infinite;
}
.extension-zigbee2mqtt-adapter-spinner div:nth-child(4) {
  left: 56px;
  animation: extension-zigbee2mqtt-adapter-spinner3 0.6s infinite;
}
@keyframes extension-zigbee2mqtt-adapter-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes extension-zigbee2mqtt-adapter-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes extension-zigbee2mqtt-adapter-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



@media screen and (min-width: 641px) {
	.extension-zigbee2mqtt-adapter-line2{
		width:auto;
		margin-left:10rem;
	}
	.extension-zigbee2mqtt-adapter-line2 > div{
		width:auto;
		min-width: 200px;
	}
	.extension-zigbee2mqtt-adapter-zigbee-id{
		margin-right:1rem;
	}
	
	.extension-zigbee2mqtt-adapter-description{
		width:calc(100% - 10rem);
	}
    
    #extension-zigbee2mqtt-adapter-view button{
    	padding: 1rem 2rem;
    }
}


@media screen and (min-width: 1025px) {
	#extension-zigbee2mqtt-adapter-view{
		
        /*padding-left:9.6rem;*/
		height:100vh; 
		/*width:100vw;*/
        
        /*
        position:absolute;
		left:9.6rem;
        top: 0;
        width: calc(100% - 9.6rem);
		padding-right:9.6rem;
        */
	}
	
	#extension-zigbee2mqtt-adapter-content-container{
		height:auto;
		width: 100%;
	}
	
}


