#extension-zigbee2mqtt-adapter-icon{
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-zigbee2mqtt-adapter-main-page-icon{
	width:3rem;
	display: inline-block;
	vertical-align: bottom;
	margin-right:1rem;
	transition: transform .8s ease-in-out;
}

#extension-zigbee2mqtt-adapter-main-page-icon:hover {
	transform: rotate(180deg);
}

#extension-zigbee2mqtt-adapter-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
  margin: 0 auto;
  display: block;
  padding: 1rem;
  font-size: 1.8rem;
  background-size: 2.8rem;
  background-repeat: no-repeat;
  background-position: 0;
	/*background-image: url('../images/menu-icon.svg');*/
	width:16rem;
	margin:0 auto;
}

/*
#extension-zigbee2mqtt-adapter-title #extension-zigbee2mqtt-adapter-tutorial-button{
	opacity:0;
	cursor:pointer;
	vertical-align: super;
	font-size:60%;
	padding:.5rem;
}
#extension-zigbee2mqtt-adapter-title:hover #extension-zigbee2mqtt-adapter-tutorial-button{
	opacity:1;
}
*/



#extension-zigbee2mqtt-adapter-view button{
	font-size: 1.6rem;
	padding: 1rem 2rem;
	border: none;
}
#extension-zigbee2mqtt-adapter-view button:focus{
	outline: none;
}

#extension-zigbee2mqtt-adapter-view a{
	color:white;
	font-weight:bold;
}

.extension-zigbee2mqtt-adapter-italic{
	font-style:italic;
}


/*  DELETE  */


.extension-zigbee2mqtt-adapter-item-delete-button{
	background: url(/images/delete-button.png);
  background-size: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #979797;
  cursor: pointer;
	/*
	display:inline-block;
	*/
	display:none!important;
	opacity:.5;
}

.extension-zigbee2mqtt-adapter-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.extension-zigbee2mqtt-adapter-item{
	padding: 0;
	display: flex;
	background-color: #46769C;
	border-radius:.5rem;
	margin-top:1rem;
	border-radius: .5rem;
	position: relative;
	width:100%;
}

.extension-zigbee2mqtt-adapter-item{
	margin-top: 4rem;
	min-height: 15rem;
}


.extension-zigbee2mqtt-adapter-item-left{
	margin-bottom: 2rem;
}

.extension-zigbee2mqtt-adapter-item-setter{
	color:white;
	font-size: 1.8rem;
	border-right: 1px solid rgba(255,255,255,.3);
	width:100%;
	padding:2rem;
	overflow: hidden;
	display:flex;
	flex-wrap:wrap;
}
.extension-zigbee2mqtt-adapter-item-right{
	text-align:center;
}


.extension-zigbee2mqtt-adapter-item-menu{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	padding:2rem;
}


#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-limit{
	width: 8rem;
	font-size: 1.8rem;
	padding:.5rem 1rem;
	margin: .5rem;
	background-color: #4d8bb7;
	color:white;
}


.extension-zigbee2mqtt-adapter-item-setter > span{
	display:inline-block;
}


#extension-zigbee2mqtt-adapter-list{
	width:auto;
	display:flex;
	flex-wrap:wrap;
}


#extension-zigbee2mqtt-adapter-original-item{
	opacity:.3;
	display:none;
}


#extension-zigbee2mqtt-adapter-view select{
	display: inline-block;
	font-size: 1.8rem;
	color:white;
	line-height: 1.3;
	padding:.5rem 1rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin: .5rem;
	border: none;
	background-color: #4d8bb7;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(/images/select-arrow.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: calc(100% - 1rem);
	padding-right: 3.5rem;
}

#main-menu #extension-zigbee2mqtt-adapter-menu-item {
	background-image: url('../images/menu-icon.svg');
}

#extension-zigbee2mqtt-adapter-view {
	height: 100%; /*calc(100% - 7.6rem);*/
	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
}


#extension-zigbee2mqtt-adapter-content {
	display:flex;
	flex-direction: column;
	flex-direction: column;
	overflow: auto;
	position: relative;
	text-align: left;
	font-size: 1.6rem;
	color: #fff;
	height:auto;
}

#extension-zigbee2mqtt-adapter-content img{
	max-width:100%;
}

.extension-zigbee2mqtt-adapter-response-data{
	text-align:center;
}



/*  TABS  */


.extension-zigbee2mqtt-adapter-tab-buttons{
	border-bottom:1px solid white;
	margin-top: 4rem;
}

#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-tab-buttons button{
	position: relative;
	top: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: rgba(0,0,0,.1);
	color: white;
	cursor:pointer;
}



#extension-zigbee2mqtt-adapter-tabs-container > div{
	display:none;
}

#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-things #extension-zigbee2mqtt-adapter-tab-button-things{
	color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #5d9bc7;
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-things #extension-zigbee2mqtt-adapter-tab-things{
	display:block;
}

#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-button-map{
	color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #5d9bc7;
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-map #extension-zigbee2mqtt-adapter-tab-map{
	display:block;
}

#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-button-tutorial{
	color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #5d9bc7;
}
#extension-zigbee2mqtt-adapter-content.extension-zigbee2mqtt-adapter-show-tab-tutorial #extension-zigbee2mqtt-adapter-tab-tutorial{
	display:block;
}


.extension-zigbee2mqtt-adapter-read-about-risks{
	cursor:pointer;
}
.extension-zigbee2mqtt-adapter-read-about-risks:hover{
	text-decoration:underline;
}


/*   GRAPHVIZ  */

#extension-zigbee2mqtt-adapter-graphviz-container{
	width:100%;
	box-sizing:border-box;
	margin-top:2rem;
	margin-bottom:2rem;
	overflow-x: scroll;
	text-align:center;
}





/*  list items  */

.extension-zigbee2mqtt-adapter-description{
	width:100%;
}

.extension-zigbee2mqtt-adapter-description a{
	text-decoration:none;
	font-size:2.4rem;
}




/*  list item overlays */
#extension-zigbee2mqtt-adapter-view .rule-edit-overlay{
	left: 0;
	top: 0;
	border-radius:.5rem;
	display:none;
	height:100%;
}

#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.delete .rule-edit-overlay.delete,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.delete .rule-edit-overlay.delete .rule-delete-dialog,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.update .rule-edit-overlay.update,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.update .rule-edit-overlay.update .rule-delete-dialog,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.updating .rule-edit-overlay.updating,
#extension-zigbee2mqtt-adapter-view .extension-zigbee2mqtt-adapter-item.updating .rule-edit-overlay.updating .rule-delete-dialog{
	display:block;
	opacity:100;
}




.extension-zigbee2mqtt-adapter-centered-error,
.extension-zigbee2mqtt-adapter-centered-page{
	padding:2rem;
	max-width:60rem;
	margin: 4rem auto;
}

.extension-zigbee2mqtt-adapter-centered-error{
	text-align:center;
}

.extension-zigbee2mqtt-adapter-centered-page{
	border-bottom:1px solid rgba(255,255,255,.3);
}


.extension-zigbee2mqtt-adapter-line2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
}

.extension-zigbee2mqtt-adapter-line2 > div{
	width:100%;
}


.extension-zigbee2mqtt-adapter-icon{
	width:4rem;
	height:4rem;
	margin-right:2rem;
	margin-bottom:1rem;
	background-size:3rem;
	background-position:center;
	background-repeat:no-repeat;
	flex-shrink: 0;
}


/*
.extension-zigbee2mqtt-adapter-type-timer .extension-zigbee2mqtt-adapter-icon{
	background-image:url('../images/timer.svg');
}
*/


.extension-zigbee2mqtt-adapter-spinner{
	margin: 2rem auto;
}


#extension-zigbee2mqtt-adapter-loading{
	text-align:center;
	padding:2rem;
}




@media screen and (min-width: 641px) {
	.extension-zigbee2mqtt-adapter-line2{
		width:auto;
		margin-left:6rem;
	}
	.extension-zigbee2mqtt-adapter-line2 > div{
		width:auto;
		min-width: 200px;
	}
	.extension-zigbee2mqtt-adapter-friendly-name{
		margin-right:1rem;
	}
}


@media screen and (min-width: 1025px) {
	#extension-zigbee2mqtt-adapter-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;
	}
	
	#extension-zigbee2mqtt-adapter-content-container{
		height:auto;
		width: calc(100% - 3rem);
	}
	
}


