name: Release

on:
  release:
    types: [created]

jobs:
  get-release:
    runs-on: ubuntu-latest
    steps:
    - name: Get Release
      id: get_release
      uses: bruceadams/get-release@v1.3.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Dump upload url to file
      run: echo '${{ steps.get_release.outputs.upload_url }}' > upload_url
    - name: Upload upload_url
      uses: actions/upload-artifact@v3
      with:
        name: upload_url
        path: upload_url

  build:
    needs: get-release
    strategy:
      matrix:
        platform: [
          'linux-arm',
          'linux-arm64'
        ]
        pair: [
          'node:12',
          'node:18',
        ]
        include:
          - platform: 'linux-arm'
            host-os: 'ubuntu-latest'
          - platform: 'linux-arm64'
            host-os: 'ubuntu-latest'
          - pair: 'node:12'
            language: 'node'
            version: '12'
          - pair: 'node:18'
            language: 'node'
            version: '18'
    runs-on: ${{ matrix.host-os }}
        
    steps:
      - name: Download upload_url
        uses: actions/download-artifact@v3
        with:
          name: upload_url
          path: upload_url
      - name: Set upload_url
        run: echo "UPLOAD_URL=$(cat upload_url/upload_url)" >> $GITHUB_ENV
      - name: Set release version
        run: echo "RELEASE_VERSION=${GITHUB_REF:10}" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Make packaging script executable
        run: chmod +x ./package.sh
      - name: Package project
        run: |
          ./package.sh
#          ./package.sh  ${{ env.RELEASE_VERSION }} ${{ matrix.node }}
      
      - name: Upload Release Asset tgz
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          #upload_url: ${{ github.event.release.upload_url }}
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: zigbee2mqtt-adapter-${{ env.RELEASE_VERSION }}-v${{ matrix.node }}.tgz

      - name: Upload Release Asset shasum
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          #upload_url: ${{ github.event.release.upload_url }}
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: zigbee2mqtt-adapter-${{ env.RELEASE_VERSION }}-v${{ matrix.node }}.tgz.sha256sum





    
